# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Vite/Next.js
.vite/
.next/

# Environment variables (Áß¿ä!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.swp
